
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {

    font-family: verdana;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #191c32;
    color: #fff;
    }

@media (max-width: 768px) {
    .wrapper {
        font-size: 14px;
    }
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #FF007F;
    margin-top: 5px;
    margin-bottom: 2em;
}