.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em;
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
    }
}
h1 {

    font-size: clamp(4vw, 1.5em, 3em);
}
span {
    color: #FF007F
}

.download-cv {

    padding: 10px 20px;
    background-color: #FF007F;
    color:aliceblue;
    font-size:15px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 6px 3px 11px -5px rgba(255, 0, 127, 330)   
}
.download-cv:hover {
    background-color: aliceblue;
    color:#FF007F;
    box-shadow: none;
}


.enlace1{
            padding: 10px 20px;
            justify-items: baseline;
            background-color: #FF007F;
            color: aliceblue;
            font-size: 15px;
            border: none;
            border-radius: 20px;
            text-decoration: none;
            cursor: pointer;
            box-shadow: 6px 3px 11px -5px rgba(255, 0, 127, 330)
       
    }

    .enlace1:hover{
        background-color: #191c32 ;
            color: aliceblue;
            box-shadow: none;
    }

.mypic{
    border: 7px solid #FF007F;
        width: 325px;
        height: auto
        display: flex;
        min-height: 300px;
}
